<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <main>
    <div class="d01">
  <h1>Login</h1>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
<form action="/login" method="POST">
  <div class="f_1">
    <input type="email" id="email" placeholder="email" name="email" required>
  </div>
  <div>
  
    <input type="password" id="password"  placeholder="password" name="password" required>
  </div class="f_1">
  <button type="submit">Login</button>
  <a href="/register">Register</a>
</form>


</div>
</main>
</body>
</html>
