<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <div class="d01">
    <h1>Register</h1>
    <form action="/register" method="POST">
        <div class="f_1">
           
            <input type="text" placeholder="name" name="name" id="name" required>
        </div>
        <div class="f_1">
            
            <input type="email" name="email" placeholder="email" id="email" required>
        </div>
        <div class="f_1">
            
            <input type="password" placeholder="password" name="password" id="password" required>
        </div>
        <button type="submit">Register</button>
        <a href="/login">Login</a>
    </form>
   
    
</div>
</main>
</body>
</html>
