body{
	text-align: center !important;
    background-color: white;
}

input{
	text-align: center;
}
.mssg{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

main{
    background-color: rgba(192, 192, 192, 0.445);
    margin-top: 200px;
    border-radius: 14px;

}
.btn{
    background-color: black;
    border:none;
    padding-inline: 40px;
}
.btn:hover{
    background-color: black;
}
p{
	
	font-size: 30px;
}